[build]
  command = "yarn run build:nf"
  functions = "netlify/functions"
  publish = "build/client"

[dev]
  command = "yarn run dev:nf"
  framework = "vite"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

[[headers]]
  for = "/assets/*"
  [headers.values]
    "Cache-Control" = "public, max-age=31536000, s-maxage=31536000"
